<!-- Clips List -->
<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 pb-28 md:pb-8">
  <a
    *ngFor="let clip of clipService.pageClips"
    [routerLink]="['/', 'clip', clip.docID]"
    class="rounded-2xl shadow-xl bg-secondary-dark p-5 border-2 border-transparent hover:border-secondary-turquoise transition-colors duration-300"
  >
    <img
      class="rounded-xl h-80 object-cover w-full"
      [src]="clip.screenshot"
      crossorigin
    />
    <div class="p-4">
      <h2 class="text-2xl text-white mb-2">{{ clip.title }}</h2>
      <p class="text-gray">
        <span *ngIf="clip.displayName">By {{ clip.displayName }}</span>
        <span>{{ clip.timestamp | fbTimestamp }}</span>
      </p>
    </div>
  </a>
</div>
