<app-page-layout title="About Moments">
  <img
    src="../../assets/about.jpg"
    alt="About Moments"
    class="h-96 w-full object-cover"
  />
  <div class="text-xl grid grid-cols-2 gap-10">
    <div>
      <p class="mt-4">
        At Moments, we believe that life is made up of special moments that
        should be shared and cherished. That's why we've created a platform for
        people to easily capture and share the most important moments of their
        lives.
      </p>
      <p class="mt-4">
        Our app allows users to easily create and share short video clips of
        their special moments with family and friends. Whether it's a
        graduation, a wedding, or the birth of a child, Moments makes it easy to
        share these special moments with the people who matter most.
      </p>
    </div>
    <div>
      <p class="mt-4">
        We're dedicated to providing a simple and user-friendly experience for
        our users. Our team is constantly working to improve the app and add new
        features to make it even easier for people to share their special
        moments.
      </p>
      <p class="mt-4">
        Thank you for choosing Moments as your platform for sharing life's
        special moments. We can't wait to see the special moments you'll share
        with us!
      </p>
    </div>
  </div>
</app-page-layout>
