<header id="header">
  <nav class="mx-auto flex justify-start items-center py-8 px-4 md:px-8">
    <a
      class="text-3xl text-gray-100 font-bold uppercase mr-10"
      href="index.html"
      >Moments</a
    >
    <div class="flex flex-grow items-center">
      <ul class="flex flex-row mt-1">
        <li>
          <a class="px-2 hover:opacity-80" href="#">Manage</a>
        </li>
        <li>
          <a class="px-2 hover:opacity-80" href="#">Upload</a>
        </li>
        <li>
          <a class="px-2 hover:opacity-80" href="about.html">About</a>
        </li>
      </ul>
      <ul class="flex flex-row ml-auto bg-secondary hover:opacity-90">
        <a class="px-6 py-2" href="#" (click)="openModal($event)">Login</a>
      </ul>
    </div>
  </nav>
</header>
