<header id="header">
  <nav class="mx-auto flex justify-start items-center py-8 px-4 md:px-8">
    <a class="text-3xl text-indigo-400 font-bold uppercase mr-10" routerLink="/"
      >Moments</a
    >
    <div class="flex flex-grow items-center">
      <ul class="flex flex-row mt-1">
        <ng-container *ngIf="auth.isAuthenticated$ | async">
          <li>
            <a
              class="px-2 hover:opacity-80"
              routerLink="/manage"
              routerLinkActive="text-indigo-400"
              [routerLinkActiveOptions]="{ exact: true }"
              [queryParams]="{ sort: '1' }"
              >Manage</a
            >
          </li>
          <li>
            <a
              class="px-2 hover:opacity-80"
              routerLink="/upload"
              routerLinkActive="text-indigo-400"
              >Upload</a
            >
          </li></ng-container
        >
        <li *ngIf="!(auth.isAuthenticated$ | async)">
          <a
            class="px-2 hover:opacity-80"
            routerLink="/about"
            routerLinkActive="text-indigo-400"
            >About</a
          >
        </li>
      </ul>

      <ul
        *ngIf="!(auth.isAuthenticated$ | async); else logoutButton"
        class="flex flex-row ml-auto bg-secondary hover:opacity-90"
      >
        <a class="px-6 py-2" href="#" (click)="openModal($event)">Login</a>
      </ul>
      <ng-template #logoutButton>
        <ul
          class="flex flex-row ml-auto bg-secondary hover:bg-red-500 transition-colors duration-300"
        >
          <a class="px-6 py-2" href="#" (click)="auth.logout($event)">Logout</a>
        </ul></ng-template
      >
    </div>
  </nav>
</header>
