<div
  class="fixed z-50 inset-0 overflow-y-auto"
  id="modal"
  [ngClass]="{ hidden: !modal.isModalOpen(modalId) }"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!-- Modal BG Overlay -->
    <div class="fixed inset-0 transition-opacity" (click)="closeModal()">
      <div class="absolute inset-0 bg-gray-800 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"
      >&#8203;</span
    >

    <div
      class="inline-block align-bottom bg-secondary-dark rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="p-6 text-left">
        <div class="flex justify-between items-center pb-4 mb-2">
          <ng-content select="[modal-heading]"></ng-content>
          <div
            class="modal-close cursor-pointer z-50 hover:opacity-80"
            (click)="closeModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </div>
        </div>

        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
