<form class="space-y-5">
  <div>
    <label class="inline-block mb-1.5">Email</label>
    <input
      type="email"
      class="block w-full text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="name@example.com"
    />
  </div>
  <div>
    <label class="inline-block mb-1.5">Password</label>
    <input
      type="password"
      class="block w-full text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password"
    />
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-2.5 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
